@import "~bootstrap/scss/bootstrap";

$primary-color: #ED7926;
$primary-color-hover: #d86d21;

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px 35px;

    border: 1px solid transparent;

    &-primary {
        color: #fff;
        background-color: $primary-color;
        border: 1px solid $primary-color;

        &:hover {
            color: #fff;
            background-color: $primary-color-hover;
            border: 1px solid $primary-color-hover;
        }
    }

    &-outline-primary {
        color: $primary-color;
        border: 1px solid $primary-color;

        &:hover {
            color: $primary-color-hover;
            border: 1px solid $primary-color-hover;
        }
    }
}

.title {
    margin-bottom: 10px;

    .top-title {
        color: $primary-color;
        font-size: 1.4em;
        font-weight: 400;
        display: flex;
        align-items: center;

        div {
            width: 35px;
            height: 2px;
            background-color: $primary-color;
            margin-right: 10px;
        }
    }
}

.main-card {
    background-color: #14120f;
    border: 1px solid #23211f;
    border-radius: 3px;
    padding: 10px;

    &:hover {
        border: 1px solid $primary-color;

        .header {
            .love-box {
                display: flex;

            }
        }
    }

    .love-box {
        display: none;
        position: absolute;
        background-color: transparent;
        border: none;
        color: #fff;
        right: 10px;
        top: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        width: 30px;
        height: 30px;
        border-radius: 3px;
    }

    &.v1 {
        &:hover {
            .body {
                .bid-button {
                    color: #fff;
                    background-color: $primary-color;
                    bottom: -30px;
                    padding: 5px 30px;
                }
            }
        }

        .header {
            position: relative;

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .live-box {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%);
                width: 80%;
                padding: 10px 20px;
                background-color: rgba(0, 0, 0, 0.7);

                p {
                    font-size: 0.8em;
                }
            }
        }

        .body {
            position: relative;
            margin-top: 10px;
            padding-bottom: 20px;

            h4 {
                font-size: 1.2em;

                &.title {
                    color: #7B7168;
                }

                span {
                    font-size: 0.6em;
                    color: #62584F;
                }
            }

            h5 {
                font-size: 1em;
            }

            small {
                font-size: 0.8em;
                color: #62584F;
            }

            .category {
                font-size: 0.8em;
                background-color: #26130F;
                color: $primary-color;
                padding: 2px 10px;
            }

            .bid-button {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                color: $primary-color;
                background-color: transparent;
                border: none;
                transition: 0.3s !important;
                padding: 0 30px;
                border-radius: 3px;
            }
        }
    }

    &.v2 {
        &:hover {
            .body {
                .bid-button {
                    color: #fff;
                    background-color: $primary-color;
                }
            }
        }

        .header {
            h5 {
                font-size: 0.8em;
                font-weight: 400;

                span {
                    color: #938476;
                }
            }

            .image {
                position: relative;

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
            }


            .users {
                .avatar {
                    margin-left: 7px;

                    img {
                        width: 20px;
                        height: 20px;
                        object-fit: contain;
                        border: 1px solid #938476;
                        border-radius: 50%;
                        margin-left: -7px;
                    }
                }
            }
        }

        .body {
            h4 {
                color: $primary-color;
                font-size: 1.2em;

                span {
                    font-size: 0.6em;
                }
            }

            h5 {
                font-size: 1em;
                font-weight: 400;
            }

            h6 {
                font-weight: 300;
                font-size: 0.7em;
                color: #938476;
            }

            .bid-button {
                background-color: transparent;
                border: none;
                color: $primary-color;
                border-radius: 3px;
                padding: 6px;
                transition: 0.3s;
            }
        }
    }
}

body {
    background-color: #020205;
    color: #fff;
}

section {
    padding: 40px 0;

    &#hero {
        background: url('../images/hero.png');
        background-position: right 250px center;
        background-repeat: no-repeat;
        background-size: 500px auto;
        height: 900px;

        h1 {
            font-weight: 700;
            font-size: 6em;

            span {
                color: $primary-color;

            }
        }

        p {
            font-size: 1.3em;
            margin: 40px 0;
        }
    }

    &#wallets {
        .wallet-card {
            background-color: #14120f;
            border: 1px solid #23211f;

            &:hover {
                border: 1px solid $primary-color;

                .card-body {
                    h4 {
                        color: $primary-color;
                    }
                }
            }

            .card-body {
                text-align: center;

                img {
                    width: 50%;
                    height: 100px;
                    object-fit: contain;
                }

                h4 {
                    font-size: 1.3em;
                    font-weight: 400;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    section {
        &#hero {
            h1 {
                font-size: 4em;
            }
        }
    }
}

//lg
@media(max-width: 990px) {
    section {
        &#hero {
            background-position: center 480px;
            background-size: 300px auto;

            .col-lg-7 {
                margin-top: 130px;
            }
        }
    }
}


//md
@media(max-width: 768px) {}

@media(max-width: 600px) {}

@media(max-width: 480px) {}