@import "~bootstrap/scss/bootstrap";

$primary-color: #ED7926;
$primary-color-hover: #d86d21;
$primary-gradient-color: linear-gradient(132deg, rgba(242, 138, 36, 1) 0%, rgba(255, 102, 28, 1) 100%);

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px 35px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: 0.3s;

    &-primary {
        color: #fff;
        background: $primary-gradient-color;
        border: 1px solid $primary-color;

        &:hover {
            color: #fff;
        }
    }

    &-outline-primary {
        color: $primary-color;
        border: 1px solid $primary-color;

        &:hover {
            color: $primary-color-hover;
            border: 1px solid $primary-color-hover;
        }
    }
}

.title {
    margin-bottom: 10px;

    .top-title {
        color: $primary-color;
        font-size: 1.4em;
        font-weight: 400;
        display: flex;
        align-items: center;

        div {
            width: 35px;
            height: 2px;
            background-color: $primary-color;
            margin-right: 10px;
        }
    }
}

.love-box {
    background-color: transparent;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.main-card {
    background-color: #14120f;
    border: 1px solid #23211f;
    border-radius: 3px;
    padding: 10px;

    &:hover {
        border: 1px solid $primary-color;

        .header {
            .love-box {
                display: flex;

            }
        }
    }

    .love-box {
        display: none;
        position: absolute;
        background-color: transparent;
        border: none;
        color: #fff;
        right: 10px;
        top: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        width: 30px;
        height: 30px;
        border-radius: 3px;
    }

    &.v1 {
        &:hover {
            .body {
                .bid-button {
                    color: #fff;
                    background: $primary-gradient-color;
                    bottom: -30px;
                    padding: 5px 30px;
                }
            }
        }

        .header {
            position: relative;

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .live-box {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%);
                width: 80%;
                padding: 10px 20px;
                background-color: rgba(0, 0, 0, 0.7);

                p {
                    font-size: 0.8em;
                }
            }
        }

        .body {
            position: relative;
            margin-top: 10px;
            padding-bottom: 20px;

            h4 {
                font-size: 1.2em;

                &.title {
                    color: #7B7168;
                }

                span {
                    font-size: 0.6em;
                    color: #62584F;
                }
            }

            h5 {
                font-size: 1em;
            }

            small {
                font-size: 0.8em;
                color: #62584F;
            }

            .category {
                font-size: 0.8em;
                background-color: #26130F;
                color: $primary-color;
                padding: 2px 10px;
            }

            .bid-button {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                color: $primary-color;
                background-color: transparent;
                border: none;
                transition: 0.3s !important;
                padding: 0 30px;
                border-radius: 3px;
            }
        }
    }

    &.v2 {
        &:hover {
            .body {
                .bid-button {
                    color: #fff;
                    background: $primary-gradient-color;
                }
            }
        }

        .header {
            h5 {
                font-size: 0.8em;
                font-weight: 400;

                span {
                    color: #938476;
                }
            }

            .image {
                position: relative;

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
            }


            .users {
                .avatar {
                    margin-left: 7px;

                    img {
                        width: 20px;
                        height: 20px;
                        object-fit: contain;
                        border: 1px solid #938476;
                        border-radius: 50%;
                        margin-left: -7px;
                    }
                }
            }
        }

        .body {
            h4 {
                color: $primary-color;
                font-size: 1.2em;

                span {
                    font-size: 0.6em;
                }
            }

            h5 {
                font-size: 1em;
                font-weight: 400;
            }

            h6 {
                font-weight: 300;
                font-size: 0.7em;
                color: #938476;
            }

            .bid-button {
                background-color: transparent;
                border: none;
                color: $primary-color;
                border-radius: 3px;
                padding: 6px;
                transition: 0.3s;
            }
        }
    }
}

body {
    background-color: #020205;
    color: #fff;
}

nav {
    background-color: #020205;
}

section {
    padding: 40px 0;

    &#hero {
        background: url('../images/hero.png');
        background-position: right 250px center;
        background-repeat: no-repeat;
        background-size: 500px auto;
        height: 900px;

        h1 {
            font-weight: 700;
            font-size: 6em;

            span {
                color: $primary-color;

            }
        }

        p {
            font-size: 1.3em;
            margin: 40px 0;
        }
    }

    &#wallets {
        .wallet-card {
            background-color: #14120f;
            border: 1px solid #23211f;

            &:hover {
                border: 1px solid $primary-color;

                .card-body {
                    h4 {
                        color: $primary-color;
                    }
                }
            }

            .card-body {
                text-align: center;

                img {
                    width: 50%;
                    height: 100px;
                    object-fit: contain;
                }

                h4 {
                    font-size: 1.3em;
                    font-weight: 400;
                }
            }
        }
    }

    &#nft {
        .filter {
            button {
                background-color: transparent;
                color: #d2d2d2;
                margin: 0 5px;
                padding: 3px 10px;
                font-size: 0.9em;
                border: 1px solid #23211f;

                &:hover {
                    background-color: #14120f;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &#steps {
        .card-step {
            background-color: #14120f;
            border: 1px solid #23211f;
            padding: 15px;

            .icon-box {
                padding: 10px;
                display: inline-block;
                height: 50px;
                width: 50px;

                svg {
                    color: $primary-color;
                }
            }

            p {
                font-size: 0.8em;
                color: #9c9c9c;
            }
        }
    }

    &#creators {
        .card-creator {
            background-color: #14120f;
            border: 1px solid #23211f;
            padding: 15px;

            &:hover {
                border: 1px solid $primary-color;
            }

            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid $primary-color;
            }

            svg {
                color: $primary-color;
            }

            h4 {
                font-size: 1.2em;
            }

            h6 {
                font-weight: 300;
                font-size: 0.8em;
                color: $primary-color;
            }
        }
    }

    &#collection {
        .card-collection {
            background-color: #14120f;
            border: 1px solid #23211f;
            padding: 10px;

            .col {
                margin: 0;
                padding: 0 5px;
            }

            img {
                width: 100%;
                border-radius: 3px;
            }

            button {
                &.love {
                    background-color: transparent;
                    color: #fff;
                    border: none;
                }
            }

            .user {
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    object-fit: cover;
                }

                h4 {
                    color: $primary-color;
                    margin-bottom: 5px;
                    font-size: 1.3em;
                }

                h6 {
                    font-size: 0.8em;

                    span {
                        color: #828282;
                    }
                }
            }
        }
    }
}

footer {
    padding: 60px 0 20px 0;

    .menus {
        // background-color: #14120f;
        padding: 20px;

        ul {
            padding: 0;
            list-style-type: none;

            li {
                a {
                    color: #828282;

                    &:hover {
                        color: #ccc;
                    }
                }
            }
        }
    }

    .subscription {
        padding: 20px;

        .subscribe-form {
            background-color: #14120f;
            color: #dfdfdf;
            border: 1px solid #23211f;

            &:focus {
                color: #dfdfdf;
                background-color: #14120f;
            }
        }
    }

    .bottom {
        margin-top: 50px;

        p {
            color: #8f8984;
            font-size: 0.9em;
        }

        small {
            color: #828282;
            font-size: 0.75em;
        }
    }
}

@media(max-width: 1200px) {
    section {
        &#hero {
            h1 {
                font-size: 4em;
            }
        }
    }
}

//lg
@media(max-width: 990px) {
    section {
        &#hero {
            background-position: center 480px;
            background-size: 300px auto;

            .col-lg-7 {
                margin-top: 130px;
            }
        }
    }
}


//md
@media(max-width: 768px) {}

@media(max-width: 600px) {}

@media(max-width: 480px) {}